.footer {
  color: $text3;
  background: $background-black;
  .container {
    display: flex;
    max-width: 1412px;

    @include tablets {
      max-width: 100%;
    }
  }

  &__left {
    flex: 7;
    display: flex;
    justify-content: space-between;
    padding: 40px 62px 40px 0;

    @include tablets {
      padding: 32px 0;
    }

    @include phones {
      flex-wrap: wrap;
    }
  }

  &__map {
    padding: 10px;
    flex: 5;

    @include tablets {
      display: none;
    }
  }

  &__pages,
  &__services {
    display: flex;
    flex-direction: column;

    @include phones {
      margin-bottom: 24px;
    }
  }

  &__pages,
  &__services,
  &__contacts,
  &__address {
    @include phones {
      width: 50%;
    }
  }

  &__logo-wrapper {
    max-width: 145px;

    @include phones {
      display: none;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 20px;
    font-weight: 900;
    line-height: 100%; /* 20px */
    letter-spacing: -0.4px;
    margin-bottom: 32px;
  }

  &__contacts-name,
  &__address-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 125% */
    letter-spacing: -0.32px;
    margin-bottom: 25px;
  }

  &__menu-link,
  &__contacts-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 25px;
  }

  &__contacts-link {
    display: block;
    text-decoration: underline;
    font-weight: 300;
    line-height: 24px;
  }
}
