.welcome {   
  margin-top: 84px;
  padding-top: 88px;
  padding-bottom: 140px;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }


  &::before {
    content: " ";
    background-image: url(../../images/backgrounds/main-1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto 100%;
    width: 1372px;
    height: 1358px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%);
  }

  &::after {
    content: " ";
    background-image: url(../../images/backgrounds/main-2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 100%;
    width: 756px;
    height: 739px;
    border-radius: 50%;
    position: absolute;
    bottom: -93px;
    right: -215px;
  }

  &__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 88px */
    margin-bottom: 74px;
  }

  &__text {
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
    margin-bottom: 199px;
  }

  &__btn {
    display: flex;
    width: 580px;
    height: 60px;
    padding: 18px 0;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background: var(--orange, #FF8154);
    color: var(--text3, #F5F5F5);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 31.5px; /* 98.438% */
    letter-spacing: -0.64px;
    cursor: pointer;
  }
}

.logo__icon {
  width: 102px;
  height: 102px;
  background-image: url(../../images/logo/webhana-logo-black.png);
  position: absolute;
  top: -88px;
  right: 0;
}